*{
    margin: 0;
    padding: 0;
}
.regpage{
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    margin: auto;
}
h1{
    text-align: center;
    padding-bottom: 40px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 5px;
}
input[type="text"]{
    height: 30px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
span{
    color: red;
    font-weight: bold;
}
button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: 2px solid black;
}
