@media (min-width:576px) {
    .header-con{
        margin: 0px 20px;
    }
    .container{
        margin: 0px 20px;
    }
    /* ============== header menubar ============= */
    header .menubar .nav{
        display: none;
    }
    header .menubar .toggle-btn button{
        display: block;
    }
     /* ========= slide main ========= */
     .slider-main{
        display: flex;
        flex-direction: column;
    }
     /* ======= booking section ======== */
     .booking-sec .grid-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
        /* ====== package ======= */
        .packages .grid-box{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        /* video-play section */
        .video-play .short-video-flex{
            display: flex;
            flex-direction: column;
        }

          /* booking section */
    .booking-form .grid-form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: left;
    }
      /* discount section */
      .dis-coupen .flex-box{
        display: flex;
        flex-direction: column;
    }
      /* ==== customer review ==== */
      .customer-feedback .cust-review-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
     /* ======= footer ========= */
     footer .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}