@media (max-width:576px){
    .container{
        margin: 0px 30px;
    }
    /* ==================== navigations =============== */
    header .navigation .nav{
        flex: 1;
        display: none;
    }
    header .navigation .btn-menu button{
        display: block;
    }
}